<%= form_with model: [reflection.schedule, reflection] do |f| %>

  <h6>タイトル</h6>
  <%= f.text_field :title %>

  <h6>写真</h6>
  <%= f.file_field :images, accept: "image/*", multiple: true %>

  <h6>内容</h6>
  <%= f.text_area :content %>

  <h6>タグ</h6>


  <%= f.submit btn_text %>
<% end %>