<%= form_with model: [reflection.schedule, reflection] do |f| %>

  <div class="form-group">
    <h6>タイトル</h6>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <h6>写真</h6>
    <%= f.file_field :images, accept: "image/*", multiple: true %>
  </div>

  <% unless controller_name == "reflections" && action_name == "new" %>
    <div class="form-group">
      <%= f.label :images_delete do %>
        <%= f.check_box :images_delete %>
        画像を削除する
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <h6>内容</h6>
    <%= f.text_area :content, rows: 5, class: "form-control" %>
  </div>

  <div class="form-group">
    <h6>タグ(空白か,で区切ると複数タグ登録できる？)</h6>
    <%= f.text_field :tag, value: @tag, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= f.submit btn_text, class: "btn btn-outline-secondary btn-block" %>
    </div>
  </div>
<% end %>