<%= form_with model: [reflection.schedule, reflection] do |f| %>
<%#= form_with model: reflection, url: schedule_reflections_path(params[:schedule_id]) do |f| %>
<%#= form_with model: @reflection, url: schedule_reflection_path(params[:schedule_id], @reflection) do |f| %>
<%#= form_with model: @reflection, url: schedule_reflection_path(params[:schedule_id], @reflection), method: :patch do |f| %>

  <h6>タイトル</h6>
  <%= f.text_field :title %>

  <h6>写真</h6>
  <%= f.file_field :image, accept: "image/*" %>

  <h6>内容</h6>
  <%= f.text_area :content %>

  <h6>タグ</h6>


  <%= f.submit btn_text %>
<% end %>