<!--後に消すかも-->
<h1>振り返り詳細</h1>
<!--ここまで-->

<h2><%= @reflection.schedule.start_time.strftime("%Y-%m-%d") %></h2>

<div>
  <%= @reflection.title %>
</div>

<div>
  <%= simple_format(@reflection.content, class: "m-0") %>
</div>

<div>
  <% if @reflection.images.attached? %>
    <% @reflection.get_images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  <% end %>
</div>

<div>
  <% @reflection_tags.each do |tag| %>
  <i class="fa-solid fa-tag"></i>
    <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
  <% end %>
</div>

<div>
  <%= link_to "編集", edit_schedule_reflection_path(@reflection.id) %>
</div>

<div>
  <%= link_to "削除", schedule_reflection_path(@reflection.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>


