<div class="container mt-3">

  <h2 class="mt-5 text-center">
    <i class="fa-solid fa-seedling", style="color: #60EAB1;"></i>
    <%= @reflection.schedule.start_time.strftime("%Y-%m-%d") %>
    <i class="fa-solid fa-seedling fa-flip-horizontal", style="color: #60EAB1;"></i>
  </h2>

  <h3 class="text-center mt-3">
    <%= @reflection.title %>
  </h3>

  <h3 class="text-center mt-4">
    <%= simple_format(@reflection.content, class: "m-0") %>
  </h3>

  <h3 class="text-center mt-3">
    <% if @reflection.images.attached? %>
      <% @reflection.get_images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    <% end %>
  </h3>

  <h3 class="text-center mt-3 mb-5">
    <% @reflection_tags.each do |tag| %>
    <i class="fa-solid fa-tag"></i>
      <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
    <% end %>
  </h3>

  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="d-flex d-inline"> 
          <div class="col-md-3 ml-4">
            <%= link_to "戻る", :back, class: "btn btn-outline-secondary btn-block" %>
          </div>
          <div class="col-md-3 mx-auto">
            <%= link_to "編集", edit_schedule_reflection_path(@reflection.id), class: "btn btn-outline-secondary btn-block" %>
          </div>
          <div class="col-md-3 mr-4">
            <%= link_to "削除", schedule_reflection_path(@reflection.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-secondary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


