<%= @date %>

<!--後に消すかも-->
<h1>振り返り詳細</h1>
<!--ここまで-->

<div>
  <%= @reflection.title %>
</div>

<div>
  <%= @reflection.content %>
</div>

<div>
  <% if @reflection.images.attached? %>
    <% @reflection.get_images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "編集", edit_schedule_reflection_path(@reflection.id) %>
</div>

<div>
  <%= link_to "削除", schedule_reflection_path(@reflection.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>


