<%= form_with model: schedule, local: true do |f| %>
  <%= f.hidden_field :day, :value => date %>
  <h6>タイトル</h6>
  <%= f.text_field :title %>

  <h6>カテゴリー</h6>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択して下さい" %>

  <h6>開始時間</h6>
  <%#= f.datetime_select :start_time, {default: DateTime.parse(@date)} %>
  <%= f.datetime_select :start_time, { default: @date.present? ? DateTime.parse(@date) : Time.current } %>

  <h6>終了時間</h6>
  <%#= f.datetime_select :end_time, {default: DateTime.parse(@date)} %>
  <%= f.datetime_select :end_time, { default: @date.present? ? DateTime.parse(@date) : Time.current } %>
  
  <h6>終日</h6>
  <%= f.check_box :all_day %>

  <h6>メモ</h6>
  <%= f.text_area :memo %>

  <%= f.submit btn_text %>

<% end %>
