<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        <%= @date %>
        <%= link_to '追加', new_schedule_path(date: @date) %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td>
          <% if schedule.all_day %>
            <%= schedule.start_time.strftime("%Y年%m月%d日") %> 終日
          <% else %>
            <%= schedule.start_time.strftime("%Y年%m月%d日 %H時%M分") %>
            〜
            <%= schedule.end_time.strftime("%Y年%m月%d日 %H時%M分") %>
          <% end %>
          
          <%= link_to schedule.title, schedule_path(schedule.id) %>
          
          <%= schedule.category.name %>
          
          <ul>
            <% schedule.reflections.each do |reflection| %>
              <li><%= link_to reflection.title, schedule_reflection_path(schedule_id: schedule.id, id: reflection.id) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>