<div class="container mt-3">

    <h2 class="mt-5 text-center">
      <i class="fa-solid fa-seedling", style="color: #60EAB1;"></i>
      詳細スケジュール
      <i class="fa-solid fa-seedling fa-flip-horizontal", style="color: #60EAB1;"></i>
    </h2>

    <h3 class="text-center mt-5">
      <%= @schedule.title %>
    </h3>

    <h3 class="text-center mt-3">
      <%= @schedule.category.name %>
    </h3>

    <h3 class="text-center mt-3">
      <% if @schedule.all_day %>
        <%= @schedule.start_time.strftime("%Y年%m月%d日") %> 終日
      <% else %>
        <%= @schedule.start_time.strftime("%Y年%m月%d日 %H時%M分") %>
        〜
        <%= @schedule.end_time.strftime("%Y年%m月%d日 %H時%M分") %>
      <% end %>
    </h3>

    <h3 class="text-center mt-3 my-5">
      <%= @schedule.memo %>
    </h3>

    <div class="row mx-auto">
      <h3 class="col-md-4">
        <%= link_to "戻る", schedules_path, class: "btn btn-outline-secondary btn-block" %>
      </h3>
      <h3 class="col-md-4">
        <%= link_to "編集", edit_schedule_path(@schedule.id), class: "btn btn-outline-secondary btn-block" %>
      </h3>
      <h3 class="col-md-4">
        <%= link_to "削除", schedule_path(@schedule.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-secondary btn-block" %>
      </h3>
    </div>

</div>