<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      
      <h2 class="mt-5 text-center">
        <i class="fa-solid fa-feather fa-flip-horizontal", style="color: white;"></i>
          ログイン
        <i class="fa-solid fa-feather", style="color: white;"></i>
      </h2>
      
      <%= form_with model: @user, url: user_session_path do |f| %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
        </div>
        
        <div class="row">
          <div class="col-md-6 mx-auto mt-5">
            <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-block" %>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
