<% if @range == "Schedule" %>

  <!--検索対象モデルがScheduleの時 -->
  <h6>Schedule search for "<%= @word %>"</h6>

  <thead>
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>メモ</th>
    </tr>
  </thead>
  
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <%= schedule.day %>

        <% if schedule.all_day %>
          <%= schedule.start_time.strftime("%Y年%m月%d日") %> 終日
        <% else %>
          <%= schedule.start_time.strftime("%Y年%m月%d日 %H時%M分") %>
          〜
          <%= schedule.end_time.strftime("%Y年%m月%d日 %H時%M分") %>
        <% end %>

        <%= link_to schedule.title, schedule_path(schedule.id) %>

        <%= schedule.category.name %>
      </tr>
    <% end %>
  </tbody>

<% else %>

  <!--検索対象モデルがScheduleではない時(= 検索対象モデルがReflectionの時) -->
  <h6>Reflection search for "<%= @word %>"</h6>
  
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>タグ</th>
    </tr>
  </thead>
  
  
  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <%= reflection.schedule.day %>

        <%= link_to reflection.title, schedule_reflection_path(schedule_id: reflection.schedule_id, id: reflection.id) %>

        <%= reflection.content %>

        <h6>タグ</h6>
      </tr>
    <% end %>
  </tbody>
<% end %>