<% if @range == "Schedule" %>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <!--検索対象モデルがScheduleの時 -->
            <h6>Schedule search for "<%= @word %>"</h6>
          </th>
        </tr>
      </thead>
    <thead>
  
  <%= render 'schedules/list', schedules: @schedules, is_link: true %>

<% else %>

  <!--検索対象モデルがScheduleではない時(= 検索対象モデルがReflectionの時) -->
  <h6>Reflection search for "<%= @word %>"</h6>
  
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>タグ</th>
    </tr>
  </thead>
  
  
  <tbody>
    <% @reflections.each do |reflection| %>
      <tr>
        <%= reflection.schedule.day %>

        <%= link_to reflection.title, schedule_reflection_path(schedule_id: reflection.schedule_id, id: reflection.id) %>

        <%= reflection.content %>

        <h6>タグ</h6>
      </tr>
    <% end %>
  </tbody>
<% end %>