<!DOCTYPE html>
<html>
  <head>
    <title>Chrono Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b0d1a7b1c5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo text-center">
          Chrono Journal
          <span class="d-block text-center sub-title">Your Journal</span>
        </h1>

        <ul class="d-flex justify-content-center list-unstyled">
          <% if user_signed_in? %>
            <li class="nav-item text-center">
              <%= link_to root_path, class: "mr-3 ml-5" do %>
                <i class="fa-solid fa-house"></i>
                トップ
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%= link_to calendars_path, class: "mr-3 ml-3" do %>
                <i class="fa-solid fa-calendar-days"></i>
                カレンダー
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%= link_to schedules_path do %>
                <i class="fa-regular fa-clock mr-3 ml-3"></i>
                今日の予定
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket ml-3"></i>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item text-center">
              <%= link_to new_user_registration_path do %>
                <i class="fa-solid fa-user-plus mr-3"></i>
                新規登録
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket mr-3 ml-3"></i>
                ログイン
              <% end %>
            </li>
            <li class="nav-item text-center">
              <%= link_to users_guest_sign_in_path, method: :post do %>
                <i class="fa-solid fa-user ml-3"></i>
                ゲストログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <div class="col-md-6 text-center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
    <footer></footer>
  </body>

</html>
